body, html {
  height: 100%;
  margin: 0;
  transform-style:preserve-3d;
  padding:0;
  overflow-x:hidden;
  transition: transform 0.25s ease;  
  font-family: 'Inknut Antiqua', serif;  
}
@font-face{
  font-family: CelticFont;
  src:url(../Fonts/celtFont.ttf);
}
p{
   line-height: 50px;
   padding: 5px
}
.BGimg1, .BGimg2, .BGimg3{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}

h2,h3{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
h2{
  position: relative;
  top: 30vh;
  color: wheat;
  letter-spacing: 15px;
  font-size: 7rem;
}
.BGimg1{
  background-image: url(../Imagenes/Moher.jpg);
  min-height: 100%;
}

.BGimg2{
  background-image: url(../Imagenes/castle.jpg);
  min-height: 800px;
  z-index: 0;
  background-position: center;
}
.BGimg3{
  background-image: url(../Imagenes/harbor.jpg);
  min-height: 80%;
  background-position: top ;
}

.secLight{
  background-color: #f4f4f4;
  color:#666;
  line-height: 25px;
  padding: 40px 70px;       
  font-size: 27pt; 
}
.secLightContent{
  position: relative;
  display: inline-flex;
}
.secLight p{
  position: relative;
  width: 50%;
  text-align: justify;
}
#ire{
  color:green;
  font-style: italic;
}
.secLightContent img{
  position: relative;
  right: -12em;
  transition: transform 0.2s ease;
}
.secLight img:hover{
  transform: scale(1.1);
}
.secDark{
  background-color:#4d583f; 
  color: wheat; 
  line-height: 25px;
  padding: 40px 70px;       
  font-size: 27pt; 
}
.secDarkContent{
  position: relative;
  display: inline-flex;
}
.secDark p{
  padding: 20px;
  position: relative;
  width: 40%;
  text-align: justify;
}
.secDarkContent img{
  position: relative;
  right: -1em;
  box-shadow: 10px 5px 12px grey;
  transition: transform 0.2s ease;
}
.secDark img:hover{
  transform: scale(1.1);
}
.top-link{
  position: fixed;
  transition: all .25s ease-in-out;
  bottom: 0;
  right: 30px;
  display: inline-flex;
  cursor: pointer;
  align-items:center;
  padding:.25em;  
  width:80px;
  height:80px;
  z-index:2;
  
}
#BtnTop{
  width:100px;
  height:50px;
  background-color:#616358;
  color:white;
  font-size:24px;
  border-radius:15px;
  outline:none;
  border:none;
  box-shadow: 0 5px #999;
}
#BtnTop:hover{
  background-color:#3e8341;
}
#BtnTop:active{
  background-color:#3e8341;
  transform:translateY(2px);
  box-shadow: 0 2px #666;
}

